SMTP_HOST="smtp.gmail.com"
SMTP_USERNAME="your_email@gmail.com"
SMTP_PASSWORD="your_16_character_app_password_here"
SMTP_PORT=587
SMTP_SECURE="tls"

FROM_EMAIL="your_email@gmail.com"
FROM_NAME="Assessify"

BACKEND_BASE_URL="http://localhost/assessify/backend"
FRONTEND_LOGIN_URL="http://localhost:3000"
